@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Handel Gothic D';
  src: local('Handel Gothic D'),
    url('https://fonts.cdnfonts.com/s/14241/HandelGothic.woff') format('woff');
}

a {
  @apply text-sky-500;
}

a:hover {
  @apply text-sky-700;
}

.font-logo {
  font-family: 'Handel Gothic D';
}

code {
  @apply rounded-lg;
}

.monaco-editor {
  @apply rounded-lg;
}
